.notification {
  display: flex;
  flex-direction: column;
}

.notification__message {
  font-size: 20px;
  font-weight: 600;
}

.notification__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notification__btn-share {
  border: none;
  background: none;
}

.notification__btn {
  width: 22px;
  height: 22px;
  margin: 2px;
  border: none;
  opacity: 0.9;
}

.notification__btn--facebook {
  background: url(../../assets/icons/facebook.svg);
}

.notification__btn--vk {
  background: url(../../assets/icons/vk.svg);
}

.notification__btn--telegram {
  background: url(../../assets/icons/telegram.svg);
}

.notification__btn--email {
  background: url(../../assets/icons/email.svg);
}

.notification__btn--sms {
  background: url(../../assets/icons/sms.svg);
}

.notification__btn--instagram {
  background: url(../../assets/icons/instagram.svg);
}

.notification__btn--viber {
  background: url(../../assets/icons/viber.svg);
}

.notification__btn--whatsapp {
  background: url(../../assets/icons/whatsapp.svg);
}

.notification__btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.notification__btn:active {
  opacity: 1;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 35px;
  left: 0;
  top: 0;
  font-size: 8px;
  background: rgb(83, 83, 83);
  color: rgb(250, 245, 245);
  opacity: 0;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: 3em;
  left: -0.7em;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}