.login {
  height: 100vh;

  &__navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    width: 100%;
    height: 70px;
    background-color: #e6f7ff;

    .auth--text {
      font-weight: 500;
      font-size: 15px;
      color: black;
      text-decoration: none;
      display: inline-block;
      line-height: 1;

      &:after {
        display: block;
        content: "";
        height: 3px;
        width: 0;
        background-color: black;
        transition: width 0.4s ease-in-out;
      }

      &:hover {
        color: dimgrey;
      }

      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
  }

  &__info {
    margin-bottom: 25px;
    box-sizing: border-box;
    color: rgb(14, 14, 14);
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
  }

  &__area {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 775px;
  }

  &__inputs {
    width: 100%;
    padding-bottom: 10px;

    .item {
      display: flex;
      flex-direction: column;
    }

    .label {
      padding-bottom: 0;
      text-align: left;
      color: rgb(110, 110, 110);
      font-weight: 500;
      display: block;
      font-size: 9.75px;
      letter-spacing: 0.75px;
      line-height: 16px;
    }

    .input {
      width: 100%;
      max-width: 375px;
      border: none;
      border-bottom: 1px solid rgb(231, 231, 231);
      color: rgb(14, 14, 14);
      font-size: 14px;
      line-height: 22px;
      padding: 14px 0;
      text-align: left;
    }

    .btn {
      width: 100%;
      height: auto;
      margin-top: 23px;
      text-align: center;
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      font-size: 12px;
      font-weight: 500;
      justify-content: center;
      letter-spacing: 0.5px;
      line-height: 22px;
      padding: 0 22px;
      text-transform: uppercase;
      background-color: rgb(14, 14, 14);
      color: rgb(255, 255, 255);
      min-height: 44px;
      transition: all ease-out 0.15s;
      border: none;

      &:hover {
        background-color: rgb(60, 60, 60);
      }
    }
  }

  &__divider {
    display: flex;
    flex-direction: column;
    align-items: center;

    .line {
      width: 1px;
      height: 100%;
      background: rgb(231, 231, 231);
    }

    .text {
      padding: 20px;
      color: rgb(110, 110, 110);
      box-sizing: border-box;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      font-size: 9.75px;
      letter-spacing: 0.75px;
      line-height: 16px;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 325px;
      height: auto;
      padding: 0 70px 0 10px;
      letter-spacing: 0;
      text-align: center;
      border: 1px solid black;
      cursor: pointer;
      min-height: 44px;
      opacity: 1;
      transition: all ease 0.15s;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      color: rgb(0, 0, 0);

      &:hover {
        background-color: rgb(180, 180, 180);
      }
    }

    .icon {
      width: 32px;
      height: 32px;
      background: url('../../assets/icons/google.svg') no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .login {
    &__navbar {
      padding-left: 10px;
    }

    &__area {
      flex-direction: column;
      max-width: 375px;
      padding: 0 10px;
    }

    &__divider {
      flex-direction: row;

      .line {
        width: 100%;
        height: 1px;
      }
    }

    &__social {
      .google {
        button {
          max-width: 375px;
        }
      }
    }
  }
}
