.sprites {
  display: flex;
  align-items: center;
}

.sprites__btn {
  width: 18px;
  height: 18px;
  margin: 0px 2px;
  padding: 6px;
  border: none;
  border-radius: 15%;
  opacity: 0.9;
}

.sprites__btn:hover {
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
}

.sprites__btn:active {
  opacity: 1;
}

.sprites__btn-vk {
  background: url(../../assets/icons/vk.svg) rgb(21, 20, 20);
}

.sprites__btn-vk:hover {
  background: url(../../assets/icons/vk.svg) #5281b8;
}

.sprites__btn-telegram {
  background: url(../../assets/icons/telegram.svg) rgb(21, 20, 20);
}

.sprites__btn-telegram:hover {
  background: url(../../assets/icons/telegram.svg) #64a9dc;
}

.sprites__btn-email {
  border: 3px solid rgb(21, 20, 20);
  background: url(../../assets/icons/email.svg) rgb(21, 20, 20);
}

.sprites__btn-email:hover {
  border: 3px solid #808080;
  background: url(../../assets/icons/email.svg) #808080;
}

.sprites__btn-sms {
  border: 1px solid rgb(21, 20, 20);
  background: url(../../assets/icons/sms.svg) rgb(21, 20, 20);
}

.sprites__btn-sms:hover {
  border: 1px solid #c71585;
  background: url(../../assets/icons/sms.svg) #c71585;
}

.sprites__btn-viber {
  background: url(../../assets/icons/viber.svg) rgb(21, 20, 20);
}

.sprites__btn-viber:hover {
  background: url(../../assets/icons/viber.svg) #7d3daf;
}

.sprites__btn-whatsapp {
  background: url(../../assets/icons/whatsapp.svg) rgb(21, 20, 20);
}

.sprites__btn-whatsapp:hover {
  background: url(../../assets/icons/whatsapp.svg) #65bc54;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 35px;
  left: 0;
  top: 0;
  font-size: 8px;
  background: rgb(83, 83, 83);
  color: rgb(250, 245, 245);
  opacity: 0;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: 3em;
  left: -0.7em;
}
