.google-logout {
    &__btn {
        border: none;
        background-color: unset;
        box-shadow: none;
        padding: 0;
        font-weight: 500;
        font-size: 15px;
        color: black;
        text-decoration: none;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;

        &:after {
            margin-top: 1px;
            display: block;
            content: '';
            height: 3px;
            width: 0;
            background-color: black;
            transition: width 0.4s ease-in-out;
        }

        &:hover,
        &:focus {
            color: dimgrey;
        }

        &:hover:after,
        &:focus:after {
            width: 100%;
        }
    }
}
