.calendar {
  border: 2px solid lightgray;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title__day {
  height: 1.4em;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #0050b3;
}

.title__week {
  margin: 0;
  font-weight: normal;
  color: #0050b3;
}

.content {
  width: 150px;
  list-style-image: url(../../assets/icons/cake.svg);
}

.content__item {
  margin-left: 20px;
  cursor: pointer;
}

.content__item_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.content__item_btn {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background: url(../../assets/icons/share.svg) no-repeat center;
  border: none;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}
