@import '@scss/variables/colors';

.event-record {
  display: flex;
}

.event-record__title {
  padding-top: 8px;
}

.event-record__date {
  font-size: 11px;
  color: $gray-light;
}

.event-record__description {
  color: $gray-dark;
}

.event-record__image {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.event-record__image--birthdays {
  background: url(../../../assets/icons/notificationCake.svg) no-repeat center center;
}

.event-record__image--vacation {
  background: url(../../../assets/icons/coconut.svg) no-repeat center center;
}

.event-record__image--meeting {
  background: url(../../../assets/icons/meeting.svg) no-repeat center center;
}

.event-record__image--reminder {
  background: url(../../../assets/icons/alert.svg) no-repeat center center;
}
