.notification-list {
  padding: 0;
}

.notification-item {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.notification-item:last-of-type {
  border-bottom: none;
}

.notification-item__title {
  font-size: 16px;
  line-height: 28px;
  text-align: right;
}
