.container {
  height: 100vh;
  display: flex;

  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__info {
      margin-bottom: 15px;
      box-sizing: border-box;
      color: rgb(14, 14, 14);
      font-weight: 600;
      font-size: 22px;
    }

    &__area {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 775px;
    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__form {
      min-width: 250px;
    }

    &__divider {
      display: flex;
      align-items: center;
      height: 80%;
    }

    &__line {
      background: rgb(231, 231, 231);
    }

    &__divider-text {
      color: rgb(110, 110, 110);
      box-sizing: border-box;
      font-weight: 500;
      text-transform: uppercase;
      display: block;
      font-size: 9.75px;
      letter-spacing: 0.75px;
      line-height: 16px;
    }

    &__google-btn {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 0 30px;
      letter-spacing: 0;
      text-align: center;
      border: 1px solid black;
      border-radius: 25px;
      cursor: pointer;
      min-height: 44px;
      opacity: 1;
      transition: all ease 0.15s;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      color: rgb(0, 0, 0);

      &:hover,
      &:focus {
        background-color: rgb(180, 180, 180);
      }
    }

    &__google-icon {
      width: 32px;
      height: 32px;
      background: url('../../assets/icons/google.svg') no-repeat;
      background-size: cover;
    }

    &__google-container {
      min-width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__login-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__login-link {
      text-decoration: underline;
      margin: 20px;
    }
  }
}

@media screen and (min-width: 769px) {
  .signup {
    &__divider {
      flex-direction: column;
    }

    &__divider-text {
      padding: 20px;
    }

    &__line {
      width: 1px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .signup {
    &__container {
      flex-direction: column;
    }

    &__divider {
      flex-direction: row;
      justify-content: center;
      width: 65%;
    }

    &__divider-text {
      padding: 0 20px;
    }

    &__line {
      width: 50px;
      height: 1px;
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    display: flex;
  }
}
