$border-bottom-gray-thin: 1px solid $gray-middle;
$border-bottom-gray-thick: 3px solid $gray-middle;
$border-bottom-gray-dark-thin: 1px solid $gray-dark;
$border-bottom-gray-dark-thick: 3px solid $gray-dark;
$border-bottom-blue: 1px solid $blue;
$border-blue-default: 1px solid $blue-default;
$border-bottom-gray-white: 1px solid $gray-white;
$border-bottom-purple: 1px solid $purple-bright;
