$blue: #0050b3;
$blue-default: #40a9ff;
$blue-vk: #5281b8;
$blue-telegram: #64a9dc;
$gray-dark: #595959;
$gray-middle: #808080;
$gray-light: #B4B4B4;
$gray-white: #EAEAEA;
$green-light: #65bc54;
$purple-bright: #c71585;
$purple: #c71585;
$white: #FFFFFF;
